<nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"
      ><img src="assets/images/freshcart-logo.svg"
    /></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="navbar-active bg-main"
            >{{ "navbar.home" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/products"
            routerLinkActive="navbar-active bg-main"
            >{{ "navbar.products" | translate }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/categories"
            routerLinkActive="navbar-active bg-main"
            >{{ "navbar.categories" | translate }}</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/brands"
            routerLinkActive="navbar-active bg-main"
            >{{ "navbar.brands" | translate }}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "navbar.lang" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                [class.bg-info]="_TranslateService.currentLang == 'en'"
                (click)="selectLang('en')"
                href=""
                class="dropdown-item"
                >English</a
              >
            </li>
            <li>
              <a
                [class.bg-info]="_TranslateService.currentLang == 'ar'"
                (click)="selectLang('ar')"
                href=""
                class="dropdown-item"
                >العربية</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link position-relative"
            aria-current="page"
            routerLink="/wishlist"
            routerLinkActive="navbar-active bg-main"
          >
            {{ "navbar.wishlist" | translate }}
            <i
              [class.red-heart]="wishlistCounter > 0"
              class="fa-solid fa-heart"
            ></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ wishlistCounter }}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link position-relative mx-3"
            aria-current="page"
            routerLink="/cart"
            routerLinkActive="navbar-active bg-main"
          >
            <i class="fa-solid fa-cart-shopping"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ counter }}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/logout"
            routerLinkActive="navbar-active bg-main"
            (click)="logOut()"
            >{{ "navbar.logout" | translate }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
