<div class="vh-100 align-items-center d-flex">
  <div class="container my-5">
    <h2>Address</h2>
    <form [formGroup]="address">
      <textarea
        formControlName="details"
        class="form-control my-3"
        placeholder="Type your details..."
        name=""
        id=""
      ></textarea>
      <input
        formControlName="phone"
        class="form-control my-3"
        type="tel"
        placeholder="Type your phone..."
        name=""
        id=""
      />
      <input
        formControlName="city"
        class="form-control my-3"
        type="text"
        placeholder="Type your city..."
        name=""
        id=""
      />
      <button class="btn bg-main text-white" (click)="payment()">Paypal</button>
      <button class="btn bg-main text-white ms-3" (click)="paymentCash()">
        Cash
      </button>
      <p class="text-main">{{ message }}</p>
    </form>
  </div>
</div>
