<div class="container my-5 w-75 m-auto">
  <h1>login now:</h1>
  <form [formGroup]="login" (ngSubmit)="sendData()">
    <input
      [ngClass]="{
          'is-valid': !login.get('email')?.errors && (login.get('email')?.touched|| login.get('email')?.dirty),
          'is-invalid': login.get('email')?.errors && (login.get('email')?.touched|| login.get('email')?.dirty),
      }
      "
      formControlName="email"
      type="email"
      class="form-control my-3"
      placeholder="Type your email..."
    />
    <app-alert-error [formName]="login" controlName="email"></app-alert-error>
    <input
      [ngClass]="{
          'is-valid': !login.get('password')?.errors && (login.get('password')?.touched|| login.get('password')?.dirty),
          'is-invalid': login.get('password')?.errors && (login.get('password')?.touched|| login.get('password')?.dirty),
      }
      "
      formControlName="password"
      type="password"
      class="form-control my-3"
      placeholder="Type your password..."
    />
    <app-alert-error
      [formName]="login"
      controlName="password"
    ></app-alert-error>

    <button
      class="btn bg-main text-white w-100"
      [disabled]="login.invalid || isBtnSubmit"
    >
      sign in @if (isBtnSubmit) {
      <i class="fa-solid fa-spinner fa-spin"></i>
      }
    </button>
    <div class="alert text-danger mt-1">{{ errorMessage }}</div>
  </form>
</div>
